<br>
<ul class="nav nav-pills nav-justified">
  <li class="nav-item">
    <a class="nav-link active" href="/intro"> 공지사항 </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/twice"> 숫자 게시판 </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://list.likelion.org/"> LIKELION </a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="https://g4nt1e.github.io/"> 자기소개 페이지</a>
  </li> 
  <div style= "margin:auto">
</ul> <br>

<center> <h1> 2017.05.06 코딩연습입니다. </h1> </center>






<center>
<img src="http://astrotest.cafe24.com/wp-content/uploads/2017/02/logolong.png" alt="이미지 설명" />
</center>
</div>